trunk/spec/data/ghnsproviders.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT ghnsproviders (provider+)>

<!ELEMENT provider (noupload?,title+)>
  <!ATTLIST provider downloadurl CDATA #REQUIRED>
  <!ATTLIST provider uploadurl CDATA #REQUIRED>
  <!ATTLIST provider nouploadurl CDATA #IMPLIED>
  <!ATTLIST provider icon CDATA #IMPLIED>
  <!ATTLIST provider webaccess CDATA #IMPLIED>
  <!ATTLIST provider webservice CDATA #IMPLIED>

<!ELEMENT noupload EMPTY>

<!ELEMENT title (#PCDATA)>
  <!ATTLIST title lang CDATA #IMPLIED>
