trunk/spec/ghns.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.kstuff.org/webservices/GHNS"
	targetNamespace="http://www.kstuff.org/webservices/GHNS">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kstuff.org/webservices/GHNS">
      <s:element name="GHNSUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GHNSUploadAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadstuff" type="tns:Stuff" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GHNSDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadstuff" type="tns:Stuff" />
            <s:element minOccurs="0" maxOccurs="1" name="downloadstuffmeta" type="tns:StuffMeta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GHNSDownloadAction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Stuff">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="author-email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="release" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="payload" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="payload-lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="preview" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="preview-lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="summary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="summary-lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StuffMeta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="downloads" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="GHNSUploadSoapIn">
    <wsdl:part name="parameters" element="tns:GHNSUploadAction" />
  </wsdl:message>
  <wsdl:message name="GHNSUploadSoapOut">
    <wsdl:part name="parameters" element="tns:GHNSUploadResponse" />
  </wsdl:message>
  <wsdl:message name="GHNSDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:GHNSDownloadAction" />
  </wsdl:message>
  <wsdl:message name="GHNSDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:GHNSDownloadResponse" />
  </wsdl:message>

  <wsdl:portType name="GHNSSoap">
    <wsdl:operation name="GHNSUpload">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Upload some stuff.</documentation>
      <wsdl:input message="tns:GHNSUploadSoapIn" />
      <wsdl:output message="tns:GHNSUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GHNSDownload">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Download some stuff.</documentation>
      <wsdl:input message="tns:GHNSDownloadSoapIn" />
      <wsdl:output message="tns:GHNSDownloadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GHNSSoap" type="tns:GHNSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GHNSUpload">
      <soap:operation soapAction="http://www.kstuff.org/webservices/soap/GHNS/upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GHNSDownload">
      <soap:operation soapAction="http://www.kstuff.org/webservices/soap/GHNS/download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GHNSService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Hot New Stuff service.</documentation>
    <wsdl:port name="GHNSSoap" binding="tns:GHNSSoap">
      <soap:address location="http://www.kstuff.org/webservices/soap" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
